body{font-family:Arial;background:#f4f6f8}
.card{width:300px;margin:100px auto;padding:20px;background:white;border-radius:8px}
input,select,button{width:100%;padding:8px;margin:5px 0}
button{background:#007BFF;color:white;border:none}
.nav a{margin:10px}
table{width:80%;margin:auto;border-collapse:collapse}
th,td{border:1px solid #ccc;padding:8px;text-align:center}
.error{color:red}